<h2>Página de postagens</h2>

<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao blog feito em nodejs</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/usuario/registro" role="button">Crie uma conta</a>
  </p>
</div>

<hr>

<h3 class="mb-4">Postagens recentes</h3>

{{#each postagem}}
    <div class="card mt-4">
        <div class="card-body">
            <h5>{{titulo}}</h5>
            <h6 class="mt-2">{{descricao}}</h6>
            <small>Data de publicação: {{#formatDate data}}{{/formatDate}}</small><br>
            <small>Tag: {{categoria.nome}}</small>
            <input type="hidden" name="slug" value="{{slug}}"><br>
            <a href="/postagem/{{slug}}"><button class="mt-4">Continuar lendo</button></a>
        </div>
    </div>
{{else}}
    <h2>Não existem postagens para exibição.</h2>

{{/each}}


